{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block body %}

    <h1>championship</h1>


    {{ form_start(form, {'attr': {'class': 'my-form-class'} }) }}
    {{ form_widget(form) }}
    <input type="submit" value="Create" class="btn btn-default pull-right"/>
    {{ form_end(form) }}


{% endblock %}